awkward~=0.13.0
uproot-methods~=0.7.4
twine~=3.2.0
numpy~=1.17.2
pandas~=0.25.1
tqdm~=4.55.0
requests~=2.22.0
setuptools~=41.4.0
pytest
wandb

torch~=1.7.1
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
